/*
 * Globals
 */

.addressbar{
	padding-top: 15px; 
	padding-bottom: 15px; 
	background-color: #2D2D2A;
}

.addressbar p{
	color:#ffffff; 
	text-align:center;
}

#navigation {
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: #2D2D2A;
	
}

#box1 {
   position: absolute;
   top: 70%; 
   left: 70%; 
   color: #ffffff;
   letter-spacing: 1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: #2D2D2A;
   opacity: 0.7;
   padding: 10px; 
}
#box1:hover {
   position: absolute;
   top: 70%; 
   left: 70%; 
   color: #ffffff;
	text-decoration: underline;
   letter-spacing: 1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: #2D2D2A;
   opacity: 0.7;
   padding: 10px; 
}

#box2 { 
   position: absolute; 
   top: 65%; 
   left: 70%; 
   color: #ffffff;
   letter-spacing: 1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: #D62839;
   opacity: 0.7;
   padding: 10px; 
}
#box2:hover{ 
   position: absolute; 
   top: 65%; 
   left: 70%; 
   color: #ffffff;
	text-decoration: underline;
   letter-spacing: 1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: #D62839;
   opacity: 0.7;
   padding: 10px; 
}

#box3 { 
   position: absolute; 
   top: 15%; 
   left: 30%; 
   color: #000000;/*#ffffff;*/
   text-align: center;
   letter-spacing: 1px;
   background: rgb(0, 0, 0); /* fallback color */
   background: #ffffff;
   opacity: 0.8;
   padding: 10px; 
}

#box3:hover { 
   position: absolute; 
   top: 15%; 
   left: 30%; 
   color: #000000;/*#ffffff;*/
	text-decoration: underline;
	text-align: center;
   letter-spacing: 1px;
   background: rgb(0, 0, 0); /* fallback color */
   background: #ffffff;
   opacity: 0.8;
   padding: 10px; 
}

#quote {
  margin: 40px 0 0 ;
  color:#2D2D2A;
}
 
/* Links */
a,
a:focus{
  color: #fff;
    text-decoration: none;
}
a:hover {
  color: #BBCDE5;
    text-decoration: none;
}

/* Links on media page */
.mylink,
.mylink:focus{
  color: black;
    text-decoration: none;
}
.mylink:hover {
  color: gray;/*#BBCDE5;*/
    text-decoration: none;
}
.mylink img:hover{
  opacity: 0.85;
}

/*--------------------------------------------------------------
Typography
--------------------------------------------------------------*/
input,
select,
textarea {
	color: #999;
	font-family: 'Source Sans Pro', sans-serif;
	-webkit-font-smoothing: antialiased; /* font smoothing */
  	-moz-osx-font-smoothing: grayscale;
}

/* title */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}
/*
 * Base structure
 */
html,
body {
  height: 100%;
    background-color: #fff;
  /* overflow-x: hidden;  remove for jquery scolling problems */ 
  -webkit-font-smoothing: antialiased; /* font smoothing */
  -moz-osx-font-smoothing: grayscale;
}
body {
  /*  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  font-family: 'Montserrat', sans-serif;   */
  font-family: 'Source Sans Pro', sans-serif;
  overflow-x : hidden ;/* fix transition overflow */
  font-weight: 400;
}
/* Alignment */
.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}
.center {
  text-align: center;
}
/* Custom default button */
.btn-outline-inverse {
  color: #222222;
  background-color: transparent;
  border-color: #222222;
  text-shadow: none;
  /* Prevent inheritence from `body` */
  border: 2px solid #222222;
}
.btn-inverse {
	background-color: transparent;
	color : #222222;
}
.btn-primary {
	background-color : #222222;
	color : #ffffff;
	border-color : #222222;
}
.btn-outline-inverse:hover,
.btn-outline-inverse:focus,
.btn-outline-inverse:active {
  color: #fff;
  background-color: #222222;
}
.scroll-btn {
  margin-bottom: 40px;
  color: #222222;
}
.scroll-btn .fa {
  font-size: 22px;
}
.scroll-btn:hover {
  color: #fff;
  background-color: #222222;
}
/* Extra markup and styles for table-esque vertical and horizontal centering */
.black {
  background: #222222;
  color: #fff;
}
.white {
  background: #ffffff;
}
.backgroundindex {
  background: url('http://i.imgur.com/K9Wa5wy.jpg') no-repeat;
  background-color: #639fab;
  background-size: 100%  100%;
}
.backgroundpartners {
  background: url('http://i.imgur.com/9FWAdDR.jpg') no-repeat;
  background-color: #0f7173;
  background-size: 100% 100%;
}
.backgroundproject {
  background: url('http://i.imgur.com/nj7GmR0.jpg') no-repeat;
  background-color: #639fab;
  background-size: 100% 100%;
}
.backgroundteam {
  background: url('http://i.imgur.com/wzu0nvk.jpg') no-repeat;
  background-color: #0f7173;
  background-size: 100% 100%;
}
.parallax {
	background : url('images/background.png') no-repeat; /* @@ Should apply programatically */
	color:#fcdb00;
}
.block-wrapper {
  display: table;
  width: 100%;
}
.block-wrapper-inner {
  display: table-cell;
  vertical-align: middle;
  /* original 
  display: table;
  width: 100%;
  float:left; */
}
.block-container {
  margin-right: auto;
  margin-left: auto;
}
.full-height {
  height: 100%;
  /* For at least Firefox */

  min-height: 100%;
}
/* Padding for spacing */
.inner,
.footer {
  padding: 20px 0;
  /* padding: 80px 0 80px 0; */
  position : relative; /* add for absolute elements */
}

/* Small menu */
.menu-toggle {
	display: none;
}
@media screen and (max-width: 600px) {
	.menu-toggle,
	.main-navigation.toggled .nav-menu {
		display: block;
	}

	.main-navigation ul {
		display: none;
	}
}

/*
 * Header
 */
 /* animation */
nav {
	
}

.masthead-brand {
  text-align:center;
  width : 100%;
} 
.masthead-brand, .site-title  {
  float: left;
  font-size: 20px;
}
.masthead-brand .site-logo {
   /* margin-top : 20px; */
   height : 72px;
   width : 300px;
   margin : 0 auto;
}
.masthead-brand .site-logo img {
   width:100%;
}
.site-title, .site-description {
  margin-top:0;
}
.site-description {
  font-size: 14px;
} 
.masthead-brand, .masthead-nav {
  margin-top: 40px;
  margin-bottom: 40px;
}
.masthead-nav > li, .social-links  > li{
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 60px;
}
.masthead-nav > li > a, .social-links > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 20px;
  font-weight: 700;
  color: #222222 !important;
  /* IE8 proofing 
  color: rgba(255,255,255,.75); */
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255, 255, 255, 0.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}
.social-links > li {
  margin-left : 10px;
}
.social-links > li > a {
  border-bottom : none;
}
.social-links > li > a:hover,
.social-links > li > a:focus {
  color:#fff !important;
}
.toggle-nav, .social-links {
	margin-top:50px;
	/* fix call-back transition */
}
.toggle-nav button {
	
}
.toggle-offcanvas {
	background : transparent;
	margin-right : 20px;
}

/*
 * Tiny nav
 */
.tiny .container-fruid, nav .container, .tiny-sidebar {
-webkit-transition: all .75s ease-out;
	 -o-transition: all .75s ease-out;
		transition: all .75s ease-out;
}
.tiny .site-branding {display:none;}
.tiny .toggle-nav, .tiny .social-links {margin:20px;}

/* Make sure select elements fit in widgets */
.widget select {
	max-width: 100%;
}

/* Search widget */
.widget_search .search-submit {
	display: none;
}
.widget ul li {
	padding : 10px 0;
}

/* Sidebar menu */
.secondary-nav {
	margin : 20px 0;
	list-style: none;
	padding : 0 40px;
}
.secondary-nav li {
	font-size : 16px;
	font-weight : 600;
	/* border-top : 1px solid #333; */
	padding: 10px 0;
	text-transform : uppercase;
}
.secondary-nav li a, .widget a {
	color : #999;
}
/* sub menu */
.sub-menu {
	list-style : none;
	padding : 10px 0 0 10px;
}
.sub-menu li {
	padding : 5px 0;
}
/*
 * Block
 */
.block .lead {
	font-size: 20px;
	color: #999999;
	font-weight: 400;
}
.block .btn-lg {
	padding: 10px 40px;
	font-size: 20px;
	font-weight: 600;
	text-transform : uppercase;
}
/*
* Cover block
*/
.cover-block .block-wrapper-inner {
    vertical-align: middle;  /* REMOVE FOR CONTACT PAGE */
}
.cover-block .block-container {
    /* position : relative;  apply 4 cover with bottom features */	
}
.cover-block .row {
  margin: 50px 0 0;
}
.cover-block .lead {
  color: #222222;
}
.cover-block .center {
  margin: 0 20%;
}
.cover-block .thumb {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
}
.cover-block .features {
  /* bottom: 0; @@ Should see why */
}
.cover-block .details,
.featured-block-img .feature  { /* @@ Should change class */
  margin: 80px 0;
}
.cover-block-1 .block-wrapper-inner 
 {
  display:table-row;
  height : 80%;
}
.cover-block-1 .features {
  display:table-row;
  height : 20%;
  background : #f6f6f6;
}
.cover-block-1 .block-container, 
.cover-block-1 .features {
  display:table-cell;
  vertical-align: middle;
}
.cover-block-1 .features a {
	color : #222;
}

/*
* Featured
*/
.featured-block .feature {
  margin: 40px 0;
  display:table; /* v-align feature */
  vertical-align: middle;
}
.featured-block .feature .pull-left {
  width: 25%;
}
.featured-block .feature .fa, .cover-block .feature .fa {
  padding: 0 20px 10px 0;
}
.featured-block .feature p {
  color: #999999;
}
.featured-block .feature a, .cover-block .feature a {
  color: #333333;
}

/*
* Portfolio block
*/ 
.portfolio-block .portfolio-item {
	/*  background : #fcdb00;  */
	padding-top : 15px; 
	padding-bottom : 15px;
}
.portfolio-block [class^=col-] {
	/* padding-left : 0;  //fixed bootstrap col-'s padding 
	padding-right : 0; */
}
.portfolio-item img {
	width : 100% !important; /* fix holder.js*/
	height : auto !important;
}
.portfolio-block .entry-title {
		
}

.portfolio-block .entry-meta a {
	color : #999999;
}
.portfolio-block .thumbnail {
    position:relative;
    overflow:hidden;
    padding : 0;
    border : none;
}
.portfolio-block .thumbnail img {
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}
.portfolio-block .thumbnail:hover img {
    -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
     transform:scale(1.25);
}
.portfolio-block .caption {
    position:absolute;
    top:0;
    right:0;
    background: #222;
    width:100%;
    height:100%;
    padding:0;
    display: none;
    color:#fff !important;
    z-index:2;
}
.portfolio-block .hovered-item {
	display : block;
	opacity : 0.5;
}
.portfolio-block .hovered-item a {
	position : absolute;
	top : 40%;
	left : 40%;
}

/*
* Portfolio Metro
*/
.portfolio-metro  [class^=col-] {
	padding : 0;
}
.portfolio-item {
	float:left;
	position : relative;
}
.portfolio-item .entry-meta {
	margin : 0; /* fix margin on blog .entry-meta */
}
.portfolio-item .entry-meta a {
	text-transform : none;
}
.portfolio-item img {
	width : 100% !important; /* fix holder.js*/
	height : auto !important;
}
.small-item  {
	width : 100%; /* fix full width */
}
.fix-pannel {
	position : absolute; bottom : 0;
	min-height : 50%; /* @@ Should see why */
	height : 50%;
	background : #222;
	color : #fff;
}
.fix-pannel a {
	color : #fff;
}
.small-item .portfolio-content {
	/* display : table-cell; */
	margin-top:35%;
}
.small-item .portfolio-content a {
	color : #222;
}

.portfolio-content .except {
	margin : 0 20px;
}

.portfolio-item .arrow {
	position : absolute;
	top : -10px;
	left : 20%;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 10px 10px 10px;
	border-color: transparent transparent #222  transparent;
}
/*
** Team block
*/
.team-block .short-brief {
	font-size : 16px;
	margin : 10px 0;
	color : #999;
}
.team-block .mem-face {
	margin : 10px 0;
}
.team-block .member {
	margin : 0 0 20px;
}
.team-block .member .entry-meta {
	margin : 0 0 10px 0;
}
.team-block .member .entry-title {
	margin : 20px 0 0 0;
}
.team-block .member-connect {
	list-style : none;
	margin : 0;
	padding : 0;
}
.team-block .member-connect li {
	display : inline;
	padding : 0 5px;
}
.team-block .member-connect a {
	color : #222222;
}

/*
* Subcribe block
*/
.subcrible-block .form-group {
  display: inline-block;
}
.subcrible-block .input-lg {
  width: 400px;
}
.subcrible-block .btn-lg {
  height: 49px;
  /* equal input */

  vertical-align: top;
}
.subcrible-block .social-connect {
  margin-top: 40px;
  padding-left: 0;
  list-style: none;
  text-align: center;
}
.subcrible-block .social-connect li {
  display: inline-block;
  margin: 0 10px;
}

/*
** Testimonials & Stats block
*/
.testi-block .starts-detail, .testi-block .testimonial {
	float:left;
	width : 60%;
	margin : 20px 20%;
}
.testimonial {
	margin-top : 2em;
}
.customer-face img {
	width : 80px;
}
.test-quote {
	margin-top : 1em;
}
.test-quote .fa.pull-left {
	margin : .3em 1em 2em 2em;
}
.test-quote .fa.pull-right {
	margin : 2em 2em 0 1em;
}
.test-quote .fa {
	color : #999;
}

/*
 * Pricing Block
 */
.pricing-block {

}
.pricing-block .price-item > *{
	margin : 20px 0;
}
.pricing-block .price-item p {
	color : #999999;
}
.pricing-block .plan-icon .fa {
	width : 100px;
	height : 100px;
	border-radius: 50%;
	background-color : #f6f6f6;
	color : #222222;
	line-height : 100px;
}

.pricing-block .plan-icon:hover .fa {
	background-color : #222222;
	color : #ffffff;
}
.pricing-block .price {
	color : #222222;
	font-size : 32px;
	font-weight : 700;
	border-bottom: 2px solid #222222;
}
.pricing-block .price , .pricing-block .price-details {
	margin : 5px 0;
}

.pricing-block-1 {
	
}
.pricing-block-1 .price-item {
	margin : 20px 10px;
	padding : 20px 10px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
.pricing-block-1 .price-box {
	border-radius: 50%;
	background: #222222;
	width: 120px;
	height: 120px;
	margin: 0 auto;
	color : #ffffff;
	padding : 20px;
}
.pricing-block-1 .price-item .btn-lg {
	padding : 10px 20px;
}
.pricing-block-1 .price-item  .plan-details {
	list-style : none;
	padding : 0;
	color : #999;
	margin : 20px 0;
}
.pricing-block-1 .price-item  .plan-details li {
	line-height : 1.8em;
}
.pricing-block-1 .price-box .price {
	color : #ffffff;
	font-size : 32px;
	font-weight : 700;
	border-bottom: 2px solid #ffffff;
}

.price-table {
	/* margin : 2em 0; */
}
.price-table thead th {
	text-align:center;
	width : 33%;
}
.price-table .active td {
	padding-bottom: 2em;
}
.price-table .price-box {
	margin : 10px 0 20px 0;
}

/*
 * Contact Block
 */
.contact-block {
    overflow: hidden; /* fix if map is oversize */
}
.contact-block .inner {
	padding : 0 ;
}
#map-object {
	position : relative;
}

#map-object img {
	width : auto;
	/* height : 100%; */
	position : absolute;
	right : 0;
	
}
#address-box {
	width : 300px;
	position : absolute;
	top : 25%;
	right : 80px;
}
#contact-form {
	margin-left: 40px;
	text-align:left;
}
#contact-form input, #contact-form textarea, .comment-respond input, .comment-respond textarea {
	border: 2px solid #222222;
}

/*--------------------------------------------------------------
 Contact Block - Block 2
 -------------------------------------------------------------- */
.contact-2 #contact-form {
	margin : 0; /* remove margin from above config */
	padding : 20px 0 40px 0;
	text-align:center;
}
#map-object-1 {
	overflow : hidden;
}
.contact-info {
	padding : 20px 0 0;
	margin : 0 100px;
}
.contact-info  .contact-details {
	margin-bottom : 20px;
}
.contact-info  .contact-details p {
	color : #999;
}

/*
* Subcribe block
*/
.subcrible-block .form-group {
  display: inline-block;
}
.subcrible-block .input-lg {
  width: 400px;
}
.subcrible-block .btn-lg {
  height: 49px;
  /* equal input */

  vertical-align: top;
}
.subcrible-block .social-connect {
  margin-top: 40px;
  padding-left: 0;
  list-style: none;
  text-align: center;
}
.subcrible-block .social-connect li {
  display: inline-block;
  margin: 0 10px;
}

/*--------------------------------------------------------------
10.0 Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
10.1 Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.hentry {
	/* margin: 0 0 1.5em; Remove for home problems */
	text-align : left;
}
.hentry img, .single img, .blog-block img {
	width : 100%; /* @@ should apply depend on class */
	margin-bottom : 20px;
}
.hentry .entry-title {
	margin : 0 0 20px 0;
}

.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary,
.entry-footer
{
	float:left;
	color : #999;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
.entry-meta {
	float : left;
	width : 100%;
	margin: 0 0 20px 0;
}
.entry-footer {
	margin : 20px 0 0;
	float:left;
	width : 100%;
}
.entry-meta a {
	color : #999;
	/* text-transform : uppercase; apply for blog only */
}
.entry-footer a {
	color : #222;
	text-transform : uppercase;
	font-size : 14px;
}

.entry-footer .fa,
.entry-meta .fa {
	margin-right : 10px;
}

.byline a,
.edit-link a,
.tags-links a,
.posted-on a,
.reply a,
.categories a {
  display: inline-block;
  line-height: 1;
  margin: 0 5px 5px 0;
  padding: 5px 0;
  text-transform : uppercase;
}

/*
** blog block - type 1
*/
.blog-block .entry-meta > div {
	float: left; 
	display : inline;
	padding-right : 20px;
	font-size : 14px;
}
.blog-block .entry-meta > div .fa {
	color : #999;
	margin-right : 5px;
}
.blog-block .entry-meta > div a {
	text-transform : uppercase;
}

/*
** social sharing
*/
.social-sharing {
	padding : 10px 0 0;
	text-align: center;
	margin-bottom : 0;
}
.social-sharing li {
	display : inline;
}
.social-sharing li a {
	color : #222;
}

/*
** related post
*/
.related-post {
	background : #f6f6f6;
	padding : 0 0 20px 0;
}
.related-post .media {
	margin: 0 0 20px -15px /* fix col padding*/;
	color : #999;
}
.related-post .media h3 {
	color : #222;
}
.related-post .post-thumbnail {
	width : 80px;
}
.related-post .media img {
	margin-top : 5px;
}

/*
** comment area
*/
.comments-area {

}
.comment-list {
	list-style : none;
	padding : 20px 0;
}
.comment-meta span {
	display : inline;
}
.comment-author a, .reply a {
	color : #222;
}
.reply a {
	border-bottom : 2px solid #222;
	padding : 10px 10px 10px 0;
	font-size : 14px;
}
.comment-metadata a {
	color : #999;
	padding : 0 10px;
}
.comment-metadata i {
	padding : 0 5px 0 0;
}
.comment-content {
	margin : 10px 0;
	color : #999;
}

.comment-respond {
	width : 60%;
	margin : 0 auto;
}
.comment-reply-title, .related-post-title {
	margin : 2em 0;
	font-weight : 400;
	text-align:center;
	color : #999;
}

.single .hentry, .related-content, .comments-area {
	float: left;
	width: 70%;
	margin: 20px 15%;
}
.single img {
	width : 100%;
}

/*
* Off-canvas Sidebar 
*/
.row-offcanvas {
	position: relative;
}
.row-offcanvas {
 -moz-transition: width 1s ease-in-out, left 0.5s ease-in-out;
    -webkit-transition: width 1s ease-in-out, left 0.5s ease-in-out;
    -moz-transition: width 1s ease-in-out, left 0.5s ease-in-out;
    -o-transition: width 1s ease-in-out, left 0.5s ease-in-out;
    transition: width 1s ease-in-out, left 0.5s ease-in-out;
}

.sidebar-offcanvas {
-webkit-transition: all .25s ease-out;
	 -o-transition: all .25s ease-out;
		transition: all .25s ease-out;
}

.row-offcanvas-left {
 left: 0;
}

.row-offcanvas-right.active
.sidebar-offcanvas {
right: 0; /* 6 columns */
}

.row-offcanvas-left
.sidebar-offcanvas {
 left: -30%; /* hide shadow */
}

/*move main class*/
.row-offcanvas-left.active {
 /* left: 20%; */
 width:75%;
 left:25%;

}

.row-offcanvas-left.active .block-wrapper {
	overflow:hidden;
}

.row-offcanvas-left.active .navbar-fixed-top {
	position : fixed; /* absolute; */
	left : 25%;
}

.row-offcanvas-right.active, .row-offcanvas-right.active .navbar {
/*right:  20%;  6 columns */
}

.row-offcanvas-left.active
.sidebar-offcanvas {
	left: 0; /* 6 columns */
	z-index : 999999;
}

.sidebar-offcanvas {
	position: fixed;
	top: 0;
	left : 0;
	width: 25%; /* 6 columns */ 
	height: 100%;
	background: #ffffff;
	/* overflow:hidden; */
	/* overflow: auto; */
	box-shadow: 0 -10px 10px 10px rgba(0, 0, 0, 0.1);
	padding: 50px 0 0;	
}
.tiny-sidebar {
	padding-top : 20px;
}
/*
 * Footer
 */
.site-footer{
  color: #999999;
  position:relative;
  float:left;
}
.site-footer .footer-widget {
  padding-left: 0;
  list-style: none;
}
.site-footer .footer-widget a {
  color: #fff;
}
.mastfoot {
  color: #999;
  /* IE8 proofing */
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  bottom: 0;
  width: 100%;
}
/*
 * Affix and center
 */
@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: absolute;
    top: 0;
  }
  .masthead .inner {
    margin: 0 20px;
  }
  .masthead-brand {
    float: left;
    font-size: 20px;
  }
  .masthead-nav {
    float: right;
    margin-right: 20px;
  }
  .mastfoot {
    position: absolute;
    bottom: 0;
    left : 0;
  }
  /* Start the vertical centering */
  .block-wrapper-inner {
    /* vertical-align: middle;  REMOVE FOR CONTACT PAGE */
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .block-container {
    width: 100%;
    /* Must be percentage or pixels for horizontal alignment */
  
  }

}
/* small screen fixed */
@media (max-width : 768px) {
  /* blog */
  .single .hentry {
  	margin : 0;
	padding : 0 20px;
	width : 100%;
  }
  .related-content, .comments-area {
	margin : 0;
	width : 100%;
  }
  
  /* cover */
 .cover-block .center {
	margin : 0 40px;
 }
  .features  .feature {
	margin : 20px 0 0 ;
  }
  
  /* testimonial */
  .testi-block .starts-detail, 
  .testi-block .testimonial {
	width : 100%;
	margin : 20px 0;
  }
  
  /* subscrible */
  .subcrible-block .input-lg {
	width : 360px;
  }
  /* off canvas size */
  .sidebar-offcanvas {
	width : 50%;
  }
  .row-offcanvas-left .sidebar-offcanvas {
	left : -60%;
  }
}

@media (min-width: 992px) {
  .masthead,
  .block-container {
    width: 940px;
  }
}
@media (max-width: 992px) {
  .featured-block .feature {
    margin: 25px 0;
  }
  .cover-block .thumb,
  .cover-block .details {
    text-align: center;
    display: block;
  }
}

/*MISC*/
/*temporary added*/
@media (min-width: 1200px) {
	.container {
		width: 940px !important;
	}
}
.navbar {margin-bottom:0; background:transparent; border:none;}

.site, .site-content {
	height: 100%; margin: 0px; padding: 0px; position: relative; 
	width:100% /* fix transition overflow */
}
