:root {
    --main-colour: #005B6F;
    --Header: linear-gradient(0deg, #FFF 0%, #83AFB9 18.4%, #2F7989 42.4%, #136779 62.9%, #005B6E 84.4%)      
}

html {
    font-size: 62.5%;
}


body {
    margin: 0;
}

header {
    position: fixed;
    width: 100%;
    height: 200px;
    background: var(--main-colour);
    justify-content: center;
    align-content: center;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 88.73%;
    margin: 0 auto;
}

.logo {
    width: auto;
    height: 100%;
    display: flex;  
}


nav ul {
    display: flex;
    align-items: center;
    gap: 48px;
}

nav ul li {
    color: #FFF;
    font-family: "Aptos";
    font-size: 1.6rem;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
}

.button {
    padding: 14px 24px;
    border-radius: 8px;
    color: #000;
    display: inline-block;
    font-size: 1.6rem;
    background-color: #ffffff; 
    text-decoration: none; 
    position: relative;  
}

.wrapper {
    width: 80%;
    margin: 0 auto;
    padding: 100px;
}

.welcome {
    color: #000;
    text-align: center;
    font-family: Saira;
    font-size: 9.6rem;
    font-weight: 700;
    margin-top: 275px;
}

.intro {
    color: #000;
    max-width: 750px;
    text-align: center;
    font-family: Inter;
    font-size: 3.2rem;
    font-weight: 400;
    margin: 0 auto;
}  

.circles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 84px;
}

.circles img {
    max-width: 100%;
    height: auto;
}



h2 {
    color: var(--main-colour);
    font-family: Saira;
    font-size: 3.6rem;
    font-weight: 700;
    text-align: left;
}

p {
    color: #3A3A3A;
    text-align: justify;
    font-family: Aptos;
    font-size: 2.4rem;
    font-weight: 400;
}

.about-section {
    width: 100%;
    background-color: var(--main-colour);
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.about-section .content {
    width: 80%;
    box-sizing: border-box;
}

.about-section h2 {
    color: #ffffff;
}

.about-section p {
    color: #ffffff;
}

.about-section .row1 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px 0;
}

.about-section .pic {
    flex: 1 1 30%;
    margin: 10px;
    text-align: center;
}

.about-section img {
    max-width: 100%;
    height: auto;
}

.about-section .content p {
    color: #FFF;
    font-family: Aptos;
    font-size: 2.4rem;
    font-weight: 400;
}

.about-section .content .row1 .pic h3 {
    margin: 10px 0;
    text-align: center;
    color: #ffffff;
    font-family: Aptos;
    font-size: 2rem;
    font-weight: 700;
    line-height: 2rem;
}

.about-section .content .row1 .pic p {
    text-align: center;
    color: #ffffff;
    font-family: Aptos;
    font-size: 2rem;
    font-weight: 600;
    line-height: 2rem;
}





.sponsors {
    width: 100%;
    background: var(--main-colour);
    justify-content: center;
    padding-top: 100px;
}

.sponsors .title {
    color: #FFF;
    font-family: Saira;
    font-size: 3.6rem;
    font-weight: 700;
    margin-left: 11.25vw;
}

.sponsors .text {
    color: #FFF;
    font-family: Aptos;
    font-size: 2.4rem;
    font-weight: 400;
    margin-left: 11.25vw;
    margin-top: 26px;
}

.rows {
    width: 80%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 70px auto;
    box-sizing: border-box;
}

.foot {
    display: flex;
    width: 80%;
    justify-content: space-between;
    padding-bottom: 50px;
    margin: 0 auto;
}

.contact h5 {
    color: #000;
    font-family: Poppins;
    font-size: 3.2rem;
    font-weight: 700;
}

.prev-teams h5 {
    color: #000;
    font-family: Poppins;
    font-size: 2.4rem;
    font-weight: 700;
}

.foot p {
    color: #000;
    font-family: Inter;
    font-size: 2.4rem;
    font-weight: 400;
    margin-top: 10%;
    line-height: 4rem;
}



/* MOBILE VERSION */

@media only screen and (max-width: 600px) {
    
    
    nav {
        display: flex;
        justify-content: space-between;
        width: 88.73%;
        margin: 0 auto;
    }

    nav ul {
        display: none;
    }

    .logo {
        width: 180px;
        height: 100%;
        display: flex;  
    }

    .wrapper {
        width: 100%;
        margin: 0;
    }
    
    .welcome {
        color: #000;
        width: 100%;
        text-align: center;
        font-family: Saira;
        font-size: 4.4rem;
        font-weight: 700;
        margin-top: 275px;
    }
    
    .intro {
        color: #000;
        text-align: center;
        font-family: Inter;
        font-size: 1.4rem;
        font-weight: 400;
        margin: 0 auto;
    }  

    .circles {
        display: none;
    }

    h2 {
        font-size: 2rem;
        line-height: 1;

    }

    p {
        font-size: 1.2rem;
        font-weight: 400;
    }

    .about-section .content p {
        font-size: 1.2rem;
        font-weight: 400;
    }

    .about-section img {
        width: 160px;
        height: auto;
    }

    .about-section .content .row1 .pic h3 {
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 1.4rem;
    }
    
    .about-section .content .row1 .pic p {
        font-size: 1.2rem;
        font-weight: 600;
        line-height: 1.1rem;
    }

    .sponsors img{
        margin: 20 20;
    }

    .foot {
        flex-direction: column;
        width: 80%;
        justify-content: space-between;
        padding-bottom: 50px;
        margin: 0 auto;
    }
}