:root {
    --main-colour: #005B6F;
    --Header: linear-gradient(0deg, #FFF 0%, #83AFB9 18.4%, #2F7989 42.4%, #136779 62.9%, #005B6E 84.4%)      
}


body {
    margin: 0px;
}

header {
    width: 100%;
    height: 249px;
    background: var(--Header);
    justify-content: center;
}

nav {
    display: flex;
    justify-content: space-between;
    max-width: 88.73vw;
    align-items: center;
    margin: 0 auto;
}

nav .logo {
    display: flex;
    align-items: center;
    margin-top: 49px;
}

.logo img {
    width: 8.75vw;
    margin-right: 10px;
}

nav .logo-text {
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 700;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 48px;
    margin-top: 60px;
}

nav ul li a {
    color: #FFF;
    font-family: "Aptos";
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}

.button {
    padding: 14px 24px;
    border-radius: 8px;
    color: #000;
    display: inline-block;
    font-size: 16px;
    background-color: #ffffff; 
    text-decoration: none; 
    position: relative;  
}

.wrapper {
    text-align: center;
    max-width: 77.5vw;
    margin: 0 auto;
    padding: 100px;
}

.welcome {
    color: #000;
    text-align: center;
    font-family: Saira;
    font-size: 96px;
    font-weight: 700;
    margin-top: 275px;
}

.intro {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-weight: 400;
}  

.para {
    color: #3A3A3A;
    text-align: justify;
    font-family: Aptos;
    font-size: 24px;
    font-weight: 400;
}

.circles {
    margin-top: 84px;
}

.circles img {
    margin: 4.86vw; 
}

h2 {
    color: var(--main-colour);
    font-family: Saira;
    font-size: 36px;
    font-weight: 700;
    text-align: left;
}

p {
    color: #3A3A3A;
    text-align: justify;
    font-family: Aptos;
    font-size: 24px;
    font-weight: 400;
}

.about-section {
    width: 100%;
    background-color: var(--main-colour);
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.about-section .content {
    width: 80%;
    box-sizing: border-box;
}

.about-section h2 {
    color: #ffffff;
}

.about-section p {
    color: #ffffff;
}

.about-section .row1 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px 0;
}

.about-section .pic {
    flex: 1 1 30%;
    margin: 10px;
    text-align: center;
}

.about-section img {
    max-width: 100%;
    height: auto;
}

.about-section .content p {
    color: #FFF;
    font-family: Aptos;
    font-size: 24px;
    font-weight: 400;
}

.about-section .content .row1 .pic h3 {
    margin: 10px 0;
    text-align: center;
    color: #ffffff;
    font-family: Aptos;
    font-size: 20px;
    font-weight: 700;
    line-height: 150%;
}

.about-section .content .row1 .pic p {
    text-align: center;
    color: #ffffff;
    font-family: Aptos;
    font-size: 20px;
    font-weight: 600;
    line-height: 150%;
}





.sponsors {
    width: 100%;
    background: var(--main-colour);
    justify-content: center;
    padding-top: 100px;
}

.sponsors .title {
    color: #FFF;
    font-family: Saira;
    font-size: 36px;
    font-weight: 700;
    margin-left: 11.25vw;
}

.sponsors .text {
    color: #FFF;
    font-family: Aptos;
    font-size: 24px;
    font-weight: 400;
    margin-left: 11.25vw;
    margin-top: 26px;
}

.rows {
    width: 80%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 70px auto;
    box-sizing: border-box;
}

.foot {
    display: flex;
    width: 80%;
    justify-content: space-between;
    padding-bottom: 50px;
    margin: 0 auto;
}

.contact h5 {
    color: #000;
    font-family: Poppins;
    font-size: 32px;
    font-weight: 700;
}

.prev-teams h5 {
    color: #000;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 700;
}

.foot p {
    color: #000;
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    margin-top: 10%;
    line-height: 150%;
}