* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

@supports not (-webkit-touch-callout: none) {
  html {
    overflow-y: scroll;
    overflow-x: hidden;
  }
}

@supports (-webkit-touch-callout: none) {
  html {
    -webkit-overflow-scrolling: touch;
  }
}

@font-face {
  font-family: 'Blisstwin';
  src: url('Blisstwin.woff2') format('woff2'), /* Modern Browsers */
       url('Blisstwin.otf') format('opentype'); /* Safari, Android, iOS */
           font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/*

@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;700&display=swap");

*/

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Roboto:wght@400;700;900&display=swap");

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  text-align: left;
}

#navbar {
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 9;
  width: 100vw;
  min-height: 4em;
  background-color: black;
  color: black;
}

.nav-list {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  width: 45vw;
}

.nav-list li {
  font-size: 0.9em;
  font-family: "Krona One", sans-serif;
  list-style: none;
  cursor: pointer;
}

.nav-list .selected {
  border-bottom: 2px solid rgb(219, 219, 219);
  padding-bottom: 2px;
}

.nav-list li a {
  text-decoration: none;
  color: rgb(200, 200, 200);
}

.nav-list .selected a {
  color: rgb(219, 219, 219);
}

.burger {
  position: absolute;
  cursor: pointer;
  right: 5vh;
  display: none;
}

.burger div {
  width: 20px;
  height: 3px;
  background-color: white;
  border-radius: 1px;
  margin: 5px;
  transition: all 0.3s ease;
}

.nav-list a:hover {
  color: rgb(255, 255, 255);
}

.nav-list .selected:hover {
  border-bottom: 2px solid rgb(255, 255, 255);
  padding-bottom: 2px;
}

.logo img {
  position: absolute;
  display: flex;
  top: 50%;
  transform: translateY(-50%);
  height: 3em;
  left: 3vh;
}

/* SVG viewport size for logo 132.8 248.26 1672.23 380*/
#Logo23 {
  padding-top: 10vh;
}

.fullpage {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
}

#s1 {
  vertical-align: middle;
  text-align: center;
  width: 70vw;
  padding-top: 6vh;
  
}

#s2 .content {
  vertical-align: middle;
}

.animation {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 40vh;
}

.animation svg {
  position: relative;
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
}

.section {
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.recruitment video {
  width: 45vw;
  height: auto;
  margin-left: 2.5vw;
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.content {
  display: flex;
  flex-direction: column;
  min-height: 50vh;
  width: 55vw;
  vertical-align: middle;
  font-size: 1em;
  line-height: 1.5em;
  padding-bottom: 0vh;
}

.content h2 {
  text-align: left;
  font-size: 3.6em;
  font-family: "Krona One", sans-serif;
  font-weight: 900;
  color: rgb(0, 0, 0);
  position: relative;
  padding-bottom: 2vh;
  line-height: 2.1em;
}

.content h1 {
  text-align: left;
  font-family: "Krona One", sans-serif;
  font-weight: 900;
  font-size: 1.5em;
  letter-spacing: 0.1vh;
  text-transform: uppercase;
  position: relative;
  line-height: 1.5em;
}

.content svg {
  position: relative;
  transform: translateY(-20%);
}

.row {
  display: flex;
  min-height: 35vh;
  justify-content: space-evenly;
  padding-bottom: 50px;
}

.description p {
  padding-top: 2vh;
  padding-bottom: 2vh;
  font-family: "Roboto";
  font-size: 1.2em;
  line-height: 1.5em;
  font-weight: normal;
  position: relative;
}

.description ul li {
  color: rgb(0, 0, 0);
  font-family: "Roboto";
  position: relative;
}

.description h3 {
  font-size: 1.5em;
  line-height: 1em;
}

.description ul li p {
  margin-left: 2.5vw;
  line-height: 1.5em;
  padding-bottom: 4vh;
}

.description a {
  text-decoration: none;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

#video_container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

#video_container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#bullets li {
  list-style-type: circle;
  margin-left: 2.5vw;
  font-size: 1.2em;
}

#s2 p a {
  color: rgb(0, 0, 0);
  font-weight: 700;
  text-decoration: none;
  font-weight: bold;
}

#s3 .content {
  padding-top: 5vh;
  width: 100vw;
  background-color: black;
  vertical-align: middle;
}

#team_header {
  padding-left: 15vw;
  color: white;
  width: 100vw;
}

.bio {
  width: 30vw;
  padding-left: 2vw;
  padding-right: 2vw;
  color: rgb(0, 0, 0);
  text-align: center;
}

.bio h4 {
  font-family: "Krona One", sans-serif;
  font-size: 1.2em;
  color: rgb(255, 255, 255);
  font-weight: lighter;
  line-height: 1.5;
  margin-top: 2vh;
}

.bio h5 {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  color: white;
  font-weight: lighter;
  line-height: 1.5;
}

.bio p {
  padding-top: 3vh;
  color: white;
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-size: 1.2em;
  font-weight: lighter;
  line-height: 1.5;
  position: initial;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 2%;
  text-align: justify;
  text-justify: inter-word;
}

.bio img {
  height: 60vh;
  width: auto;
}

.carousel-container {
  width: 50vw;
  margin: auto;
  border: 10px solid black;
  overflow: hidden;
}

.carousel-slide {
  display: flex;
  width: 100%;
  height: 500px;
}

#s4 .content {
  vertical-align: middle;
}

#s4 p a {
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-decoration: none;
}

#s5 .content {
  padding-top: 10vh;
  width: 100vw;
  background-color: black;
  vertical-align: middle;
  align-items: center;
}

.black {
  width: 50vw;
}

.black p {
  width: 50vw;
  color: white;
}

.black h2 {
  width: 50vw;
  color: white;
}

.sponsors {
  display: flex;
  width: 100vw;
  justify-content: space-evenly;
  padding-top: 5vh;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 10vh;
  align-items: center;
}

.sponsors img {
  width: 20vw;
}

.sponsors_long {
  display: flex;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 6vh;
  justify-content: space-evenly;
}

.sponsors_long img {
  width: 30vw;
  padding-left: 10%;
  padding-right: 10%;
}

.sponsors a:hover {
  transform: scale(1.1);
}

.sponsors_long a:hover {
  transform: scale(1.1);
}

#s6 .content {
  vertical-align: middle;
}

#s6 p a {
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-decoration: none;
}

.previous {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  justify-content: space-evenly;
  font-size: 1.2em;
}

.previous:hover {
  color: rgb(122, 122, 122);
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(0, 0, 0);
  font-family: "Roboto", sans-serif;
  font-size: 1.3em;
  color: rgb(255, 255, 255);
  width: 100vw;
  padding-top: 40px;
  padding-left: 5vw;
  padding-bottom: 100px;
}

.footer h2 {
  font-family: "Krona One", sans-serif;
  font-weight: 900;
  color: white;
}

.footer li {
  text-decoration: none;
}

.footer_row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 35vh;
  padding-top: 5vh;
  line-height: 2.5em;
}

.icons img {
  height: 45px;
  width: 45px;
}

.contact {
  justify-content: center;
  width: 25vw;
  min-width: 12.5rem;
}

.footer_logo {
  justify-content: center;
  width: 25vw;
  min-width: 12.5rem;
}

.footer_logo img {
  height: 250px;
  width: 250px;
  min-width: 12.5rem;
}

ul,
li {
  list-style-type: none;
  text-decoration: none;
  color: white;
}

.find-us {
  color: white;
  text-align: center;
  width: 25vw;
  min-width: 12.5rem;
}

.find-us li a {
  text-decoration: none;
  color: white;
}

.find-us li :hover {
  color: rgb(122, 122, 122);
}

/*
.fa {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  text-decoration: none;
  height: 4vh;
  width: 4vh;
  font-size: 2vh;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook-f {
  background: #3b5998;
  color: white;
}

.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-instagram {
  background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
  color: white;
}

.fa-tumblr {
  background: #34526f;
  color: white;
}

.andritz {
  background-color: white;
  padding: 20px 30px 20px 30px;
}
*/

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background: rgb(49, 49, 50);
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@media screen and (max-width: 768px) {
  .hiring iframe {
    margin-left: 0;
    width: 80vw;
    height: 45vw;
  }
  .hiring img {
    margin-left: 0;
    width: 80vw;
    height: 45vw;
  }
  body {
    overflow-x: hidden;
  }

  .nav-list {
    position: absolute;
    right: 0px;
    height: 95vh;
    top: 5vh;
    width: 50%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-list li {
    opacity: 0;
  }
  .burger {
    right: 30px;
    display: block;
  }

  .footer {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    float: left;
    justify-content: space-around;
    min-height: 62.5rem;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

@keyframes move-squaresU {
    to {
        transform: translate(0px, 0px);
        visibility: visible;
    }
}

@keyframes move-squaresD {
    to {
        transform: translate(0px, 0px) scale(1, -1);
        visibility: visible;
    }
}

@keyframes elongate {
    to {
        height: var(--he);
        visibility: visible;
    }
}

@keyframes show-dots {
    100% {
        visibility: visible;
    }
}

/*add mobile logo*/
.mobile_device_600px {
        display: none;
    }
    
/* if mobile device max width 600px */
    @media only screen and (max-device-width: 600px) {
        .mobile_device_600px{display: block;}       
        .desktop {display: none;}
        /*adjust images to full size in smaller screen*/
        .bio {
              width: 100vw;
              padding-left: 2vw;
              padding-right: 2vw;
              color: rgb(0, 0, 0);
              text-align: center;
              padding-bottom: 3vh;
            }
        .bio p {
                padding-top: 3vh;
                color: white;
                text-align: center;
                font-family: "Roboto", sans-serif;
                font-size: 1.2em;
                font-weight: lighter;
                line-height: 1.5;
                position: initial;
                padding-bottom: 2%;
                text-align: left;
                word-break: break-word;

              }
        .content {
                display: flex;
                flex-direction: column;
                min-height: 100vh;
                width: 90vw;
                vertical-align: middle;
                font-size: 1em;
                line-height: 1.6em;
        }

        .content h2 {
          font-size: 2.5em;
        }

        .logo {
          width: 100vw;
          padding-left: 15vw;
          padding-right: 15vw;
          padding-top: 5vh;
        }

        .black {
          width: 90vw;
        } 

        .black p {
          width: 90vw;
          color: white;
        }

        .black h2 {
          width: 90vw;
          color: white;
        }

        #s1 {
          vertical-align: left;
          width: 100vw;
          padding-top: 10vh;
        }

        .contact_header{
          font-size:40px !important;
        }

    } 
