.black-bar {
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: #2D2D2A;
	margin-bottom: 0;
	border: none;
}

/* The black navigation bar, top and bottom */
.black-bar a, .black-bar p{
    color: #fff;
    text-decoration: none;
	text-align: center;
}
.black-bar a:hover {
    color: #BBCDE5;
}

.center {
	text-align: center;
}

.inner, .footer {
	padding: 20px 0;
	position: relative;
}

.block-container {
	width: 940px !important;
}

.block, .lead {
	font-size: 20px;
}

body {
   height: 100%;
   background: url('/2016/img/final_cropped_background.png') no-repeat;
   background-color: white;
   background-size: cover;
  -webkit-font-smoothing: antialiased; /* font smoothing */
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
}