* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

@supports not (-webkit-touch-callout: none) {
  html {
    overflow-y: scroll;
    overflow-x: hidden;
  }
}

@supports (-webkit-touch-callout: none) {
  html {
    -webkit-overflow-scrolling: touch;
  }
}

/*

@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;700&display=swap");

*/

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Roboto:wght@400;700;900&display=swap");

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  text-align: justify;
  text-justify: inter-word;
}

#navbar {
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 9;
  width: 100vw;
  min-height: 4em;
  background-color: black;
  color: black;
}

.nav-list {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  width: 45vw;
}

.nav-list li {
  font-size: 0.9em;
  font-family: "Krona One", sans-serif;
  list-style: none;
  cursor: pointer;
}

.nav-list .selected {
  border-bottom: 2px solid rgb(219, 219, 219);
  padding-bottom: 2px;
}

.nav-list li a {
  text-decoration: none;
  color: rgb(200, 200, 200);
}

.nav-list .selected a {
  color: rgb(219, 219, 219);
}

.burger {
  position: absolute;
  cursor: pointer;
  right: 5vh;
  display: none;
}

.burger div {
  width: 20px;
  height: 3px;
  background-color: white;
  border-radius: 1px;
  margin: 5px;
  transition: all 0.3s ease;
}

.nav-list a:hover {
  color: rgb(255, 255, 255);
}

.nav-list .selected:hover {
  border-bottom: 2px solid rgb(255, 255, 255);
  padding-bottom: 2px;
}

.logo img {
  position: absolute;
  display: flex;
  top: 50%;
  transform: translateY(-50%);
  height: 3em;
  left: 3vh;
}

.fullpage {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
}

#s1 {
          vertical-align: middle;
          width: 70vw;
          padding-top: 10vh;
        }

#s2 .content {
  vertical-align: middle;
}

.animation {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 40vh;
}

.animation svg {
  position: relative;
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
}

.section {
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.recruitment video {
  width: 45vw;
  height: auto;
  margin-left: 2.5vw;
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 55vw;
  vertical-align: middle;
  font-size: 1em;
  line-height: 1.6em;
  padding-bottom: 10vh;
}

.content h2 {
  text-align: left;
  font-size: 3.6em;
  font-family: "Krona One", sans-serif;
  font-weight: 900;
  color: rgb(0, 0, 0);
  position: relative;
  padding-bottom: 5vh;
  line-height: 2.1em;
}

.content h1 {
  text-align: left;
  font-family: "Krona One", sans-serif;
  font-weight: 900;
  font-size: 1.5em;
  letter-spacing: 0.1vh;
  text-transform: uppercase;
  position: relative;
  line-height: 1.5em;
}

.content svg {
  position: relative;
  transform: translateY(-20%);
}

.row {
  display: flex;
  min-height: 35vh;
  justify-content: space-evenly;
  padding-bottom: 50px;
}

.description p {
  padding-top: 4vh;
  font-family: "Roboto";
  font-size: 1.2em;
  line-height: 1.5em;
  font-weight: normal;
  position: relative;
}

.description ul li {
  color: rgb(0, 0, 0);
  font-family: "Roboto";
  position: relative;
}

.description h3 {
  font-size: 1.2em;
  line-height: 1em;
}

.description ul li p {
  margin-left: 2.5vw;
  line-height: 1.5em;
  padding-bottom: 4vh;
}

.description a {
  text-decoration: none;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

#video_container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

#video_container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#bullets li {
  list-style-type: circle;
  margin-left: 2.5vw;
}

#s2 p a {
  color: rgb(0, 0, 0);
  font-weight: 700;
  text-decoration: none;
  font-weight: bold;
}

#s3 .content {
  padding-top: 10%;
  width: 100vw;
  background-color: black;
  vertical-align: middle;
}

.bio {
  width: 30vw;
  padding-left: 2vw;
  padding-right: 2vw;
  color: rgb(0, 0, 0);
  text-align: center;
}

.bio h4 {
  font-family: "Krona One", sans-serif;
  font-size: 1.2em;
  color: rgb(255, 255, 255);
  font-weight: lighter;
  line-height: 1.5;
  margin-top: 2vh;
}

.bio h5 {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  color: white;
  font-weight: lighter;
  line-height: 1.5;
}

.bio p {
  padding-top: 3vh;
  color: white;
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-size: 1.2em;
  font-weight: lighter;
  line-height: 1.5;
  position: initial;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 2%;
  text-align: justify;
  text-justify: inter-word;
}

.bio img {
  height: 60vh;
  width: auto;
}

.carousel-container {
  width: 50vw;
  margin: auto;
  border: 10px solid black;
  overflow: hidden;
}

.carousel-slide {
  display: flex;
  width: 100%;
  height: 500px;
}

#s4 .content {
  vertical-align: middle;
}

#s4 p a {
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-decoration: none;
}

#s5 .content {
  padding-top: 10vh;
  width: 100vw;
  background-color: black;
  vertical-align: middle;
  align-items: center;
}

.black {
  width: 50vw;
}

.black p {
  width: 50vw;
  color: white;
}

.black h2 {
  width: 50vw;
  color: white;
}

.sponsors {
  display: flex;
  width: 100vw;
  justify-content: space-evenly;
  padding-top: 5vh;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 10vh;
  align-items: center;
}

.sponsors img {
  width: 20vw;
}

.sponsors_long {
  display: flex;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 6vh;
  justify-content: space-evenly;
}

.sponsors_long img {
  width: 30vw;
  padding-left: 10%;
  padding-right: 10%;
}

.sponsors a:hover {
  transform: scale(1.1);
}

.sponsors_long a:hover {
  transform: scale(1.1);
}

#s6 .content {
  vertical-align: middle;
}

#s6 p a {
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-decoration: none;
}

.previous {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  justify-content: space-evenly;
  font-size: 1.2em;
}

.previous:hover {
  color: rgb(122, 122, 122);
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(0, 0, 0);
  font-family: "Roboto", sans-serif;
  font-size: 1.3em;
  color: rgb(255, 255, 255);
  width: 100vw;
  padding-top: 40px;
  padding-left: 5vw;
  padding-bottom: 100px;
}

.footer h2 {
  font-family: "Krona One", sans-serif;
  font-weight: 900;
  color: white;
}

.footer li {
  text-decoration: none;
}

.footer_row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 35vh;
  padding-top: 5vh;
  line-height: 2.5em;
}

.icons img {
  height: 45px;
  width: 45px;
}

.contact {
  justify-content: center;
  width: 25vw;
  min-width: 12.5rem;
}

.footer_logo {
  justify-content: center;
  width: 25vw;
  min-width: 12.5rem;
}

.footer_logo img {
  height: 250px;
  width: 250px;
  min-width: 12.5rem;
}

ul,
li {
  list-style-type: none;
  text-decoration: none;
  color: white;
}

.find-us {
  color: white;
  text-align: center;
  width: 25vw;
  min-width: 12.5rem;
}

.find-us li a {
  text-decoration: none;
  color: white;
}

.find-us li :hover {
  color: rgb(122, 122, 122);
}

/*
.fa {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  text-decoration: none;
  height: 4vh;
  width: 4vh;
  font-size: 2vh;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook-f {
  background: #3b5998;
  color: white;
}

.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-instagram {
  background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
  color: white;
}

.fa-tumblr {
  background: #34526f;
  color: white;
}

.andritz {
  background-color: white;
  padding: 20px 30px 20px 30px;
}
*/

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background: rgb(49, 49, 50);
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@media screen and (max-width: 768px) {
  .hiring iframe {
    margin-left: 0;
    width: 80vw;
    height: 45vw;
  }
  .hiring img {
    margin-left: 0;
    width: 80vw;
    height: 45vw;
  }
  body {
    overflow-x: hidden;
  }

  .nav-list {
    position: absolute;
    right: 0px;
    height: 95vh;
    top: 5vh;
    width: 50%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-list li {
    opacity: 0;
  }
  .burger {
    right: 30px;
    display: block;
  }

  .footer {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    float: left;
    justify-content: space-around;
    min-height: 62.5rem;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/*  */

/* The Animation */

@import url("https://fonts.googleapis.com/css2?family=Gugi&display=swap");


#rect1 {
    transform: translate(0px, 18px);
    animation-delay: 100ms;
    --he: 41px;
}

#rect2 {
    transform: translate(0px, 58px);
    animation-delay: 120ms;
    --he: 51px;
}

#rect3 {
    transform: translate(0px, 91px);
    animation-delay: 140ms;
    --he: 78px;
}

#rect4 {
    transform: translate(0px, 58px);
    animation-delay: 160ms;
    --he: 51px;
}

#rect5 {
    transform: translate(0px, 0px) scale(1, -1);
    animation-delay: 180ms;
    --he: 41px;
}

#rect6 {
    transform: translate(0px, -50px) scale(1, -1);
    animation-delay: 200ms;
    --he: 67px;
}

#rect7 {
    transform: translate(0px, -81px) scale(1, -1);
    animation-delay: 220ms;
    --he: 87px;
}

#rect8 {
    transform: translate(0px, -50px) scale(1, -1);
    animation-delay: 240ms;
    --he: 67px;
}

#rect9 {
    transform: translate(0px, 0px) scale(1, -1);
    animation-delay: 260ms;
    --he: 41px;
}

#rect10 {
    transform: translate(0px, 58px);
    animation-delay: 280ms;
    --he: 51px;
}

#rect11 {
    transform: translate(0px, 114px);
    animation-delay: 300ms;
    --he: 78px;
}

#rect12 {
    transform: translate(0px, 164px);
    animation-delay: 320ms;
    --he: 107px;
}

#rect13 {
    transform: translate(0px, 203.5px);
    animation-delay: 340ms;
    --he: 136px;
}

#rect14 {
    transform: translate(0px, 164px);
    animation-delay: 360ms;
    --he: 107px;
}

#rect15 {
    transform: translate(0px, 114px);
    animation-delay: 380ms;
    --he: 78px;
}

#rect16 {
    transform: translate(0px, 58px);
    animation-delay: 400ms;
    --he: 51px;
}

#rect17 {
    transform: translate(0px, 0px) scale(1, -1);
    animation-delay: 420ms;
    --he: 41px;
}

#rect18 {
    transform: translate(0px, -50px) scale(1, -1);
    animation-delay: 440ms;
    --he: 67px;
}

#rect19 {
    transform: translate(0px, -81px) scale(1, -1);
    animation-delay: 460ms;
    --he: 87px;
}

#rect20 {
    transform: translate(0px, -50px) scale(1, -1);
    animation-delay: 480ms;
    --he: 67px;
}

#rect21 {
    transform: translate(0px, 0px) scale(1, -1);
    animation-delay: 500ms;
    --he: 41px;
}

#rect22 {
    transform: translate(0px, 58px);
    animation-delay: 520ms;
    --he: 51px;
}

#rect23 {
    transform: translate(0px, 91px);
    animation-delay: 540ms;
    --he: 78px;
}

#rect24 {
    transform: translate(0px, 58px);
    animation-delay: 560ms;
    --he: 51px;
}

#rect25 {
    transform: translate(0px, 18px);
    animation-delay: 580ms;
    --he: 41px;
}




#dash1 {
    --he: 41px;
}

#dash2 {
    --he: 51px;
}

#dash3 {
    --he: 78px;
}

#dash4 {
    --he: 51px;
}

#dash5 {
    transform: scale(1, -1);
    --he: 41px;
}

#dash6 {
    transform: scale(1, -1);
    --he: 65px;
}

#dash7 {
    transform: scale(1, -1);
    --he: 85px;
}

#dash8 {
    transform: scale(1, -1);
    --he: 65px;
}

#dash9 {
    transform: scale(1, -1);
    --he: 41px;
}

#dash10 {
    --he: 51px;
}

#dash11 {
    --he: 78px;
}

#dash12 {
    --he: 107px;
}

#dash13 {
    --he: 136px;
}

#dash14 {
    --he: 107px;
}

#dash15 {
    --he: 78px;
}

#dash16 {
    --he: 51px;
}

#dash17 {
    transform: scale(1, -1);
    --he: 41px;
}

#dash18 {
    transform: scale(1, -1);
    --he: 67px;
}

#dash19 {
    transform: scale(1, -1);
    --he: 87px;
}

#dash20 {
    transform: scale(1, -1);
    --he: 67px;
}

#dash21 {
    transform: scale(1, -1);
    --he: 41px;
}

#dash22 {
    --he: 51px;
}

#dash23 {
    --he: 78px;
}

#dash24 {
    --he: 51px;
}

#dash25 {
    --he: 41px;
}


#dot21 {
    animation-delay: 1100ms;
}

#dot20 {
    animation-delay: 1120ms;
}

#dot19 {
    animation-delay: 1140ms;
}

#dot18 {
    animation-delay: 1160ms;
}

#dot17 {
    animation-delay: 1180ms;
}

#dot16 {
    animation-delay: 1330ms;
}

#dot15 {
    animation-delay: 1350ms;
}

#dot14 {
    animation-delay: 1370ms;
}

#dot13 {
    animation-delay: 1390ms;
}

#dot12 {
    animation-delay: 1410ms;
}

#dot11 {
    animation-delay: 1430ms;
}

#dot10 {
    animation-delay: 1450ms;
}

#dot9 {
    animation-delay: 1470ms;
}

#dot8 {
    animation-delay: 1490ms;
}

#dot7 {
    animation-delay: 1510ms;
}

#dot6 {
    animation-delay: 1530ms;
}

#dot5 {
    animation-delay: 1680ms;
}

#dot4 {
    animation-delay: 1700ms;
}

#dot3 {
    animation-delay: 1720ms;
}

#dot2 {
    animation-delay: 1740ms;
}

#dot1 {
    animation-delay: 1760ms;
}

#Logo22 {
  padding-top: 12vh;
}

.circle {
  visibility: hidden;
}

.squareU {
    visibility: visible;
    animation: move-squaresU 0.5s forwards;
}

.squareD {
    visibility: visible;
    animation: move-squaresD 0.5s forwards;
}

.dot {
    visibility: hidden;
    animation: show-dots 1s forwards;
}

.dash {
    visibility: hidden;
    animation: elongate 1s forwards;
    animation-delay: 1s;
}

@keyframes move-squaresU {
    to {
        transform: translate(0px, 0px);
        visibility: visible;
    }
}

@keyframes move-squaresD {
    to {
        transform: translate(0px, 0px) scale(1, -1);
        visibility: visible;
    }
}

@keyframes elongate {
    to {
        height: var(--he);
        visibility: visible;
    }
}

@keyframes show-dots {
    100% {
        visibility: visible;
    }
}




/* 

#ltr-a{
    animation: aalto 1s ease-in;
}

@keyframes aalto {
    from{
        fill: none ;
    }
    to{
        fill: black;
    }
}

/*

/*

.hiring {
    background-color: black;
    width: 100vw;
}

.hiring .description {
    padding-bottom: 50px;
}

.hiring .subtitle {
    color: white;
}

.hiring p {
    color: white;
}

.hiring p a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.hiring p a img {
    width: 1.2em;
    height: 1.2em;
    margin: 0;
    padding: 0;
    padding-top: 10px;
}

.hiring ul li {
    margin-left: 20px;
    color: white;
    margin-bottom: 5px;
}

.hiring ul li p {
    text-align: left;
    color: white;
    margin: 0;
    padding: 0;
}

.hiring img {
    margin-bottom: 50px;
    margin-left: 10vw;
    width: 60vw;
}

.hiring iframe {
    margin-top: 50px;
    margin-left: 10vw;
    width: 60vw;
    min-height: 34vw;
}

*/

/*add mobile logo*/
.mobile_device_380px {
        display: none;
    }
    
/* if mobile device max width 380px */
    @media only screen and (max-device-width: 480px) {
        .mobile_device_380px{display: block;}       
        .desktop {display: none;}
        /*adjust images to full size in smaller screen*/
        .bio {
              width: 100vw;
              padding-left: 2vw;
              padding-right: 2vw;
              color: rgb(0, 0, 0);
              text-align: center;
              padding-bottom: 3vh;
            }
        .bio p {
                padding-top: 3vh;
                color: white;
                text-align: center;
                font-family: "Roboto", sans-serif;
                font-size: 1.2em;
                font-weight: lighter;
                line-height: 1.5;
                position: initial;
                padding-bottom: 2%;
                text-align: justify;
                text-justify: inter-word;
                word-break: break-word;
              }
        .content {
                display: flex;
                flex-direction: column;
                min-height: 100vh;
                width: 90vw;
                vertical-align: middle;
                font-size: 1em;
                line-height: 1.6em;
        }

        .black {
          width: 90vw;
        } 

        .black p {
          width: 90vw;
          color: white;
        }

        .black h2 {
          width: 90vw;
          color: white;
        }

        #s1 {
          vertical-align: left;
          width: 100vw;
          padding-top: 10vh;
        }

        .contact_header{
          font-size:40px !important;
        }

    } 
